spawn-at-startup "zsh" "/home/brian/.config/script/record-replay.sh"
spawn-at-startup "zsh" "/home/brian/.config/script/random-swww.sh"
spawn-at-startup "zsh" "/home/brian/.config/script/random-waypaper.sh"
spawn-at-startup "whatsie"
spawn-at-startup "poweralertd"
spawn-at-startup "quickshell"
spawn-at-startup "caelestia scheme set --name gruvbox --variant fruitsalad --flavour soft --mode dark"

// TODO: auth agent

environment {
	DISPLAY ":0";
}

cursor {
	hide-when-typing
	hide-after-inactive-ms 2500
}

recent-windows {
	open-delay-ms 10
}

gestures {
	dnd-edge-view-scroll {
	}
}

screenshot-path "~/Screenshots/%Y-%m-%d-%H%M%S_hyprshot.png"
prefer-no-csd

window-rule {
	geometry-corner-radius 10
	clip-to-geometry true
}

window-rule {
	match app-id=r#".+\.exe"#
	open-floating true
}

window-rule {
	match app-id="ProcessManager"
	open-floating true
	default-window-height { proportion 0.7; }
	default-column-width { proportion 0.7; }
}

window-rule {
	match title="IL2-SimpleRadio"
	open-floating true
}

window-rule {
	match app-id="Explorer"
	open-floating true
	default-window-height { proportion 0.75; }
	default-column-width { proportion 0.60; }
}

window-rule {
	match app-id="PopUp"
	open-floating true
	default-window-height { proportion 0.8; }
	default-column-width { proportion 0.4; }
}

window-rule {
	match app-id="thunar"
	open-floating true
	default-window-height { proportion 0.8; }
	default-column-width { proportion 0.4; }
}

window-rule {
	match app-id="com.github.th_ch.youtube_music"
	open-floating true
	default-window-height { proportion 0.6; }
	default-column-width { proportion 0.6; }
}

window-rule {
	match app-id="org.pulseaudio.pavucontrol"
	open-floating true
	default-window-height { proportion 0.6; }
	default-column-width { proportion 0.6; }
}

window-rule {
	match app-id="io.github.kaii_lb.Overskride"
	open-floating true
	default-window-height { proportion 0.6; }
	default-column-width { proportion 0.6; }
}

window-rule {
	match app-id="cool-retro-term"
	open-floating true
	default-window-height { proportion 0.6; }
	default-column-width { proportion 0.6; }
}

window-rule {
	match app-id="(com.github.hluk.copyq)"
	open-floating true
	default-floating-position x=20 y=20 relative-to="top-right"
	default-window-height { proportion 0.2; }
	default-column-width { proportion 0.2; }
}

window-rule {
	match app-id=r#".*\[UWP\]"#
	open-floating true
}

layer-rule {
	match namespace="^swww-daemon$"
	place-within-backdrop true
}

overview {
	workspace-shadow {
		// off
	}
}

input {
	keyboard {
		xkb {
			layout "us,us"
			variant ",intl"
			options "grp:shifts_toggle"
		}
		numlock
		track-layout "window"
	}
	touchpad {
		tap
		drag false
	}
	focus-follows-mouse max-scroll-amount="0%"
}

output "DP-2" {
	mode "1920x1090@60"
	position x=-1920 y=540
}

output "DP-1" {
	mode "3840x2160@143.999"
	scale 1.0
	focus-at-startup
	variable-refresh-rate
	position x=0 y=0
}

output "HDMI-A-1" {
	mode "1920x1090@60"
	position x=3840 y=540
}

// output "eDP-1" {
// 	scale 2.0
// }

binds {
	Mod+Shift+Q allow-inhibiting=false { quit; }
	Mod+Tab allow-inhibiting=false {toggle-overview; }
	// Quickshell lockscreen will often crash after a while.
	// This allows to use swaylock to avoid opening another tty with Ctrl-Alt-2
	Mod+Alt+L allow-inhibiting=false allow-when-locked=true { spawn "swaylock"; }

	// Focused window
	Mod+Q allow-inhibiting=true { close-window; }
	Mod+Space allow-inhibiting=true {toggle-window-floating; }
	Mod+F allow-inhibiting=true {fullscreen-window; }
	Mod+Alt+F allow-inhibiting=true { toggle-windowed-fullscreen; }
	Mod+C allow-inhibiting=true {center-window; }
	Mod+Slash allow-inhibiting=false { toggle-column-tabbed-display; }

	// Move focus in workspace
	Mod+Left allow-inhibiting=false { focus-column-left; }
	Mod+Right allow-inhibiting=false { focus-column-right; }
	Mod+WheelScrollUp allow-inhibiting=false { focus-column-left; }
	Mod+WheelScrollDown allow-inhibiting=false { focus-column-right; }
	Mod+Up allow-inhibiting=false { focus-window-up; }
	Mod+Down allow-inhibiting=false { focus-window-down; }
	Mod+Shift+Space allow-inhibiting=true { switch-focus-between-floating-and-tiling; }

	// Move window in workspace
	Mod+Shift+Left allow-inhibiting=false { move-column-left-or-to-monitor-left; }
	Mod+Shift+Right allow-inhibiting=false { move-column-right-or-to-monitor-right; }
	Mod+Shift+Up allow-inhibiting=false { move-window-up; }
	Mod+Shift+Down allow-inhibiting=false { move-window-down; }
	Mod+BracketRight allow-inhibiting=false { consume-or-expel-window-right; }
	Mod+BracketLeft allow-inhibiting=false { consume-or-expel-window-left; }
	Mod+H allow-inhibiting=false { swap-window-left; }
	Mod+L allow-inhibiting=false { swap-window-right; }

	// Move focus between workspaces
	Mod+Z allow-inhibiting=false { focus-workspace-up; }
	Mod+X allow-inhibiting=false { focus-workspace-down; }

	// Move window between workspaces
	Mod+Shift+Z allow-inhibiting=false { move-window-to-workspace-up; }
	Mod+Shift+X allow-inhibiting=false { move-window-to-workspace-down; }

	// Move workspaces
	Mod+Alt+Z allow-inhibiting=false { move-workspace-up; }
	Mod+Alt+X allow-inhibiting=false { move-workspace-down; }
	Mod+N allow-inhibiting=false { spawn "/home/brian/.config/script/set-workspace-name.sh"; }

	// Window/Colum Size
	Mod+R allow-inhibiting=false { switch-preset-window-width; }
	Mod+Shift+R allow-inhibiting=false { switch-preset-window-height; }
	Mod+1 allow-inhibiting=false { set-window-width "25%"; }
	Mod+2 allow-inhibiting=false { set-window-width "50%"; }
	Mod+3 allow-inhibiting=false { set-window-width "75%"; }
	Mod+4 allow-inhibiting=false { set-window-width "100%"; }

	Mod+Alt+Left allow-inhibiting=true { focus-monitor-left; }
	Mod+Alt+Right allow-inhibiting=true { focus-monitor-right; }

	// Applications
	Mod+Return allow-inhibiting=false { spawn "kitty"; }
	Mod+Alt+Return allow-inhibiting=false { spawn "cool-retro-term"; }
	Mod+T allow-inhibiting=false { spawn "~/.local/bin/panel.sh"; }
	Mod+Alt+T allow-inhibiting=false { spawn "kitty" "--class" "PopUp" "tmux" "new" "-A" "-s" "PopUp"; }
	Mod+E allow-inhibiting=false { spawn "neovide"; }
	Mod+Alt+E allow-inhibiting=false { spawn "thunar"; }
	Mod+V allow-inhibiting=false { spawn "copyq" "toggle"; }
	Mod+I allow-inhibiting=false { spawn "firefox"; }
	Mod+Shift+I allow-inhibiting=false { spawn "firefox" "-private-window"; }

	// TUI utilities
	Mod+S allow-inhibiting=false { spawn "~/.local/bin/panel.sh" "systemd-manager-tui"; }
	Mod+W allow-inhibiting=false { spawn "~/.local/bin/panel.sh" "vim Documents/TODO-stack.md"; }
	Mod+P allow-inhibiting=false { spawn "~/.local/bin/panel.sh" "pulsemixer"; }
	Mod+B allow-inhibiting=false { spawn "~/.local/bin/panel.sh" "bluetuith"; }
	Control+Shift+Escape allow-inhibiting=false { spawn "~/.local/bin/panel.sh" "btop" "30" "130"; }
	// Calculator: https://nixos.org/manual/nixpkgs/stable/#sec-language-go
	Mod+Grave allow-inhibiting=false { spawn "~/.local/bin/panel.sh" "dc"; }
	// TODO write a wrapper to control cmus with fzf
	Mod+M allow-inhibiting=false { spawn "~/.local/bin/panel.sh" "cmus"; }
	// TODO use the new kitty file browser for stuff

	// Runners
	Mod+Alt+I allow-inhibiting=true { spawn "/home/brian/.config/rofi/applets/bin/quicklinks.sh"; }
	Mod+D allow-inhibiting=true { spawn "walker"; }

	// Screenshot
	Print { screenshot-window; }
	Alt+Print { screenshot-screen; }
	Mod+Shift+S allow-inhibiting=false { screenshot; }
	Alt+X { spawn "killall" "-USR1" "gpu-screen-recorder"; }

	// Media
	XF86AudioPlay allow-inhibiting=false { spawn "playerctl" "-a" "play-pause"; }
	XF86AudioPause allow-inhibiting=false { spawn "playerctl" "-a" "play-pause"; }
	XF86AudioStop allow-inhibiting=false { spawn "playerctl" "-a" "stop"; }
	XF86AudioNext allow-inhibiting=false { spawn "playerctl" "-a" "next"; }
	XF86AudioPrev allow-inhibiting=false { spawn "playerctl" "-a" "previous"; }
	XF86AudioRaiseVolume allow-inhibiting=false { spawn "wpctl" "set-volume" "@DEFAULT_SINK@" "5%+"; }
	XF86AudioLowerVolume allow-inhibiting=false { spawn "wpctl" "set-volume" "@DEFAULT_SINK@" "5%-"; }
	XF86AudioMute allow-inhibiting=false { spawn "wpctl" "set-mute" "@DEFAULT_SINK@" "toggle"; }
	XF86AudioMicMute allow-inhibiting=false { spawn "wpctl" "set-mute" "@DEFAULT_SOURCE@" "toggle"; }
	XF86MonBrightnessDown allow-inhibiting=false { spawn "brightnessctl" "set" "10%-" ; }
	XF86MonBrightnessUp allow-inhibiting=false { spawn "brightnessctl" "set" "10%+" ; }
}

layout {
	default-column-display "tabbed" // spawn new windows in tabs
	center-focused-column "on-overflow"
	background-color "transparent"
	always-center-single-column
	tab-indicator {
		hide-when-single-tab
		active-gradient from="#ffbb66" to="#ffc880" angle=45 relative-to="workspace-view"
	}
	preset-column-widths {
		proportion 0.25
		proportion 0.33
		proportion 0.5
		proportion 0.66
		proportion 0.75
		proportion 1.00
	}
	preset-window-heights {
		proportion 0.25
		proportion 0.33
		proportion 0.5
		proportion 0.66
		proportion 0.75
		proportion 1.00
	}
}
